@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #09090b;
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
